<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arias.jenifer.wewant2cook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/PreActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".WeWant2CookActivity.ShoppingListActivity.PreActivity"> -->

        <activity android:name=".PreActivity"
            android:label="@string/PreActivity">

        </activity>

        <activity android:name=".ShoppingListActivity"
            android:label="ShoppingList">

        </activity>

        <activity android:name=".WeWant2CookActivity"
            android:label="PreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".RecipesActivity"
            android:label="PreActivity">

        </activity>

        <activity android:name=".IngredientsActivity"
            android:label="@string/PreActivity">

        </activity>


    </application>

</manifest>